<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Live Trades</ion-title>
    <span class="last-price" *ngIf="lastPrice">{{lastPrice}}$</span>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="trades.length > 0; else waiting">
    <ion-list-header>
      <div col-4><span>Time</span></div>
      <div col-4><span>Price</span></div>
      <div col-4><span>Amount</span></div>
    </ion-list-header>
    <ion-item *ngFor="let trade of trades" [@trade]="tradeState">
      <div padding-right>
        {{formatTime(trade.timestamp)}}
      </div>
      <div padding-right ngClass="{{trade.type === 1 ? 'price-red' : 'price-green'}}">
        <ion-icon [name]="trade.type === 1 ? 'arrow-round-down' : 'arrow-round-up'"></ion-icon>
        {{trade.price}}
      </div>
      <div padding-right>
        {{trade.amount.toString()}}
        <ion-icon name="logo-bitcoin"></ion-icon>
      </div>
    </ion-item>
  </ion-list>

  <ng-template #waiting>
    <ion-list>
      <ion-list-header>
        <div><span>Time</span></div>
        <div><span>Price</span></div>
        <div><span>Amount</span></div>
      </ion-list-header>
      <ion-item>
        <span text-center class="waiting">
          Waiting for trades<ion-spinner name="dots"></ion-spinner>
        </span>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>
