page-liveTrades {
  .item.item-block .label {
    display: flex;
  }
  .price-red {
    color: red;
  }
  .price-green {
    color: green;
  }

  ion-item {
    padding-left: 0 !important;
    .input-wrapper {
      padding-left: 10px;
    }
  }
  .last-price {
    padding-right: 15px;
    float: right;
    font-size: 12px;
    padding-top: 6px;
  }

  .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
    border-bottom: 0;
  }
  .list-ios .item-block .item-inner {
    border-bottom: 0;
  }
  .item-ios, .item-md {
    font-size: 1.4rem;
  }

  .label div{
    width: 33.3%
  }
}
